html { 
    font-size: 62.5%; 
    display: inline-block;
}
body {
    display: block;
}

h1 {
    margin: 0px;
}

main {
	padding: auto;
	border: none;
	color: #111;
	font-family: "canada-type-gibson",sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 28px;
    line-height: 2.8rem;
    background-position: center;
    text-align: center;
    padding: 20px;
    display: block;
}
ul {
    list-style-position:inside;
}

#dwight {
    background-image: url(images/off_top_dwight-xmas_01.jpg);
    height: 653px;
    width: 980px;
    background-position: center;
    display: block;
    text-align: center;
    margin: 10px auto;
}

#dwight2 {
    background-image: url(images/Belsnickel.png);
    height: 676px;
    width: 705px;
    background-position: center;
    display: block;
    text-align: center;
    margin: 10px auto;
}

#dwight3 {
    background-image: url(images/resizedimage600292-dwight-as-belsnickel.png);
    height: 292px;
    width: 600px;
    background-position: center;
    display: block;
    text-align: center;
    margin: 10px auto;
}

.button {
    background-color: #BDFF89;
    color: black;
    padding: 10px;
    border: 2px solid #000000; 
    text-decoration: none;
    border-radius: 8px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    #dwight {
        width: 80%;
        height: 350px;
    }
    
    #dwight2 {
        width: 80%;
        height: 350px;
    }
    
    #dwight3 {
        width: 80%;
    }
    main {
        padding:0px;
     }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    #dwight {
        width: 80%;
        height: 450px;
    }
    
    #dwight2 {
        width: 80%;
        height: 450px;
    }
    
    #dwight3 {
        width: 80%;
    }
    main {
        padding:0px;
     }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .button {
        background-color: #BDFF89;
        color: black;
        padding: 30px;
        border: 2px solid #000000;
        text-decoration: none;
        border-radius: 8px;
        font-size: 40px;
    }
    p {
        margin: 80px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
  }



