html { 
    font-size: 62.5%; 
    display: inline-block;
}
body {
    display: block;
}

main {
	margin: 0 auto;
	padding: auto;
	background: #f8f8f8;
	border: none;
	color: #111;
	font-family: "canada-type-gibson",sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 28px;
    line-height: 2.8rem;
    background-position: center;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    display: block;
}
ul {
    list-style-position:inside;
}

#dwight {
    background-image: url(images/off_top_dwight-xmas_01.jpg);
    height: 653px;
    width: 900px;
    background-position: center;
    display: block;
    text-align: center;
    margin: 0px auto;
}

#dwight2 {
    background-image: url(images/Belsnickel.png);
    height: 676px;
    width: 705px;
    background-position: center;
    display: block;
    text-align: center;
    margin: 0px auto;
}

#dwight3 {
    background-image: url(images/resizedimage600292-dwight-as-belsnickel.png);
    height: 292px;
    width: 600px;
    background-position: center;
    display: block;
    text-align: center;
    margin: 0px auto;
}

.button {
    background-color: #BDFF89;
    color: black;
    padding: 10px;
    border: 2px solid #000000; 
    text-decoration: none;
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .button {
        background-color: rgb(255, 137, 137);
        color: black;
        padding: 30px;
        border: 2px solid #000000; 
        text-decoration: none;
        font-size: 20px;
        border-radius: 8px;
    }
}



